<div class="container mt-4" >
    <div class="card">
            <h1>ToDO List</h1>
    
    <form>
        <div class="form-group">
          <label>Task</label>
          <input type="text" [(ngModel)]="task" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Task">
        </div>
        <button type="submit" class="btn btn-primary mt-4" (click)="save()" >Save</button>
       
      </form>
    </div>
    
  
    
        <div class="container mt-4" >
            <h1>ToDo Task Table</h1>
        <table class="table">
            <thead>
             <h1 *ngIf="!isResultLoaded">Loading.................</h1>      
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tasks</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let TaskItem of TodoArray">
                <td>{{TaskItem.id  }}</td>
                <td>{{TaskItem.task }}</td>
                <td>
                  <button type="button" class="btn btn-success" (click)="setUpdate(TaskItem)">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="setDelete(TaskItem)">Delete</button>            
                </td>
              </tr>          
            </tbody>
          </table>
        </div>